.bg-light{
    background-image: url(https://img.magnific.com/fotos-premium/top-view-variedade-de-hamburgueres-e-batatas-fritas-em-fundo-isolado-generativo-ai_899948-4924.jpg?semt=ais_hybrid&w=740&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }

    